
body{
  background-color: rgba(35, 35, 35, 1);
  color:white;
  padding-right: 30px;
  padding-left: 30px;
  font-family: 'Roboto', sans-serif;

}
.container{
  position: relative;
  clear: both;
}

  #top{
    margin: 50px;
    width: 80%;
    height: auto;
    clear: both;
    position: relative;
  }

  .myWork{
    font-family: 'Tomorrow', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 20px;
    padding-left: 30px;
    width: auto;
    letter-spacing: 6px;
    line-height: 40px;
    position: relative;
  }

  div .pageTitles{
   clear: both;
   position: relative;
   font-family: 'Titillium Web', sans-serif;
   font-size:130px;
   line-height:100px;
   margin-top: 25px;
   padding-top:0px;
   padding-bottom:20px;
   padding-left: 30px;
  }
  .grid1{
    display: grid;
    padding-left: 60px;
    grid-template-columns:150px 150px 150px 150px ;
  }
  .list{
    display:block;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
  }
  .header-nav{
    padding: 8px;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .navbar-header{
    font-family: 'Tomorrow', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    padding: 5px 5px;
  }
  div a {
    color: white;
    padding: 9px 11px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Change the link color to #111 (black) on hover */
  div a:hover {
    background-color: #111;
    font-size: 20px;
  }



  #middle{
    margin:60px;

  }

  .myFace{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;

  }
    h3{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 27px;
      text-transform: capitalize;
      margin: 60px;
      margin-bottom: 0px;
    }

    h4{
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size:14px;
    }

    h5{
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      align-items: center;
      padding: 5px;
      font-size:18px;
    }

    p{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      padding-left: 260px;
      padding-right: 260px;
    }

    p1{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-justify: inter-word;
      font-size:16px;
      padding-top: 10px;
      padding-bottom: 25px;
    }

    .grid2{
      clear: left;
      display: grid;
      grid-template-columns:1fr 1fr;
      padding-top: 20px;
      margin-left: 50px;
      margin-right: 50px;
    }

    div2{
      margin-bottom: 30px;

    }

    .cropped {
    position: relative;
    width: 100%;
  }

    .cropped img{
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, auto, auto, 0); /* Clip the image to the size of the container */
      max-width: 35% !important;
      height: auto !important;
      z-index: -1;
      padding-left: 57%;
      clear: both;
      float: right;

    }
    .hinterimg{
      margin-top: 20%;
      margin-bottom: 20%;
      position: relative; /* Enable flexbox layout */
      justify-content: center; /* Horizontally center child elements */
      align-items: center; /* Vertically center child elements */
    }


    .hinterimg img{
      max-width: 40% !important;
      height: auto !important;
      z-index: -1;
      position: absolute;
      top: 100%;
      left:10%;
      transform: translate(-50%, -50%);
      clear: both;
      }
    /**div i:hover {
      width: 400px;
    }
  **/



    #pdfPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 9999;
}

#pdfContainer {
  position: relative;
  margin: 10% auto;
  max-width: 90%;
  max-height: 90%;
}

#pdfObject,
embed {
  width: 100%;
  height: 100%;
}

#pdfLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

#pdfLink:hover {
  background-color: #3071a9;
}


p2{
  font-family: 'Tomorrow', sans-serif;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 100px;
}


.pillbutton{
  display: block;
  padding: 10px;
  background-color: rgba(236, 109, 50, 1);
  color: rgba(35, 35, 35, 1);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 30%;
}

.pillbutton a:hover {
  background-color: rgba(243, 162, 124);
}

.pillbutton span {
  display: block;
  pointer-events: none;
}

.resume{
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Horizontally center child elements */
  align-items: center; /* Vertically center child elements */
  width: 100%;
}

#pdfPopup {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 100%;
}
