body{
  background-color: rgba(35, 35, 35, 1);
  color:white;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Roboto', sans-serif;

}
*{
  box-sizing: border-box;
}
.container{
  padding: 0;
  margin: 0;
  position: relative;


}

#top{
  padding: 30px;
  height: 100%;
  position: relative;
}

.myName{
  font-family: 'Tomorrow', sans-serif;
  text-align:center;
  text-transform: uppercase;
  font-size:50px;
  padding-top:13px;
  width:48px;
  word-wrap: break-word;
  letter-spacing: 10px;
  line-height: 40px;
  position: absolute;
}


.pageTitle{
 padding-left: 70px;
 display:inline-block;
 position: relative;
 font-family: 'Titillium Web', sans-serif;
 font-size:200px;
 line-height:150px;
 margin:0px;
 padding-top:0px;
 padding-bottom:10%;

}

.heropic{
  position: relative;
  width: 100%;
}

.heropic img{
    position: absolute;
    top: 0;
    left: 50%;
    clip: rect(0, auto, auto, 0); /* Clip the image to the size of the container */
    width: 55%;
    z-index: -1;
    clear: both;
    float: right;
  }

  #qeeckaction{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    clear:both;

  }

  .pillbutton{
    display: block;
    padding: 10px;
    background-color: rgba(236, 109, 50, 1);
    color: rgba(35, 35, 35, 1);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 30%;
  }

  .pillbutton a:hover {
    background-color: rgba(243, 162, 124);
  }

  .pillbutton span {
    display: block;
    pointer-events: none;
  }

 

 /*****************Large devices*************/
 @media (min-width: 992px){
   .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
   float: left;
 }
 .col-lg-1{
   width: 8.33%;
 }
 .col-lg-2{
   width: 16.66%;
 }
 .col-lg-3{
   width: 25%;
 }
 .col-lg-4{
   width: 32%;

 }
 .col-lg-5{
   width: 41.66%;
 }
 .col-lg-6{
   width: 50%;
 }
 .col-lg-7{
   width: 58.33%;
 }
 .col-lg-8{
   width: 66.66%;
 }
 .col-lg-9{
   width: 74.99%;
 }
 .col-lg-10{
   width: 83.33%;
 }
 .col-lg-11{
   width: 91.66%;
 }
 .col-lg-12{
   width: 100%;
 }
 }


 /************Medium devices***************/
 @media (max-width: 991px) and (min-width: 767px){
 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
   float: left;
 }
 .col-md-6{
   width: 48%;
 }
 .col-md-12{
   width: 97%;
 }
 }

 /************Small devices***************/
 @media (max-width: 766px){
 .col-sl-1,{
   float: left;
 }
 .col-sl-1{
   width: 65%;
   margin-left: auto;
   margin-right: auto;

 }
