

#middle{
  padding-top: 150%;
  padding: 30px;
  margin-bottom: 60px;
}

.pTitle{
position: relative;
width:60%;
float: right;
clear: both;
font-size:25px;
text-transform: capitalize;
margin-bottom:0px;
}

#middle p{
  position:relative;
  width:60%;
  clear:both;
  float: right;
  text-align: justify;

}

#navigation{
  position: relative;
  padding-top:5%;
  padding-bottom:10%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6px;
  width: 50%;
  height: auto;
  clear:both;
}


p2{
  font-family: 'Tomorrow', sans-serif;  
  display: flex;
  text-align: left;
  padding-top: 10%;
  padding-bottom: 5%;
  }


.grid{
  display: grid;
  grid-template-columns:150px 150px 150px 150px ;
  display: flex;
  justify-content: center;
  
}

.grid2{
  display: grid;
  grid-template-columns:400px 400px 400px ;
  display: flex;
  justify-content: center;

}
.grid3{
  padding-top: 15%;
  display: grid;
  grid-template-columns: 50% 50%;
  }
  
  .floatimg img{
    float: right;

  }

.list{
  display:block;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
}
.header-nav{
  padding: 8px;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}

.navbar-header{
  font-family: 'Tomorrow', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  list-style-type: none;
  overflow: hidden;
  padding: 5px 5px;

}

.icon{
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div a {
  color: white;
  padding: 9px 11px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MagicScroll[data-mode="cover-flow"] {
    background-color: <your-colour>;
}
/* Change the link color to #111 (black) on hover */


.header-nav a:hover, a:focus{
  background-color: #111;
  color: gray;
    transition: all 500ms;
    font-size-adjust: 19px;

}

.header-nav a:not(:hover){
  transition: all 500ms;
  font-size-adjust: 16px;
}

.navbar-header{

}

#canvas-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }



  .pic {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Horizontally center child elements */
    align-items: center; /* Vertically center child elements */
  }
  
  .pic img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    max-height: 100%;
  }
  

  .cropped{
    position: flex;
    clip: rect(0, auto, auto, 0); /* Clip the image to the size of the container */
    max-width: 80% !important;
    height: auto !important;
    z-index: -1;
    clear: both;
    float: right;

  }
  .grid8{
    display: grid;
    grid-template-columns: 1.3fr 1.7fr;
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;
    overflow-y: auto;
    
  }